body {
    font-family: Arial, sans-serif;
    background-color: #f5f0e1; /* Светлый бежевый фон */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    color: #6f4c3e; /* Темный коричневый цвет */
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 10px;
    margin: 20px auto;
}

.cell {
    background-color: #d8cfc4; /* Светлый коричневый цвет */
    border: none;
    border-radius: 8px;
    font-size: 40px;
    cursor: pointer;
    transition: background-color 0.3s;
    /* Центрирование содержимого */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

    .cell:hover {
        background-color: #c2b2a1; /* Темный бежевый при наведении */
    }

.cell-winn {
    background-color:  cornflowerblue; /* Светлый победителя цвет */
    border: none;
    border-radius: 8px;
    font-size: 40px;
    cursor: pointer;
    transition: background-color 0.3s;
    /* Центрирование содержимого */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.icon {
    width: 25px;
    height: 25px;
}

body.coffee-milk {
    background-image: url('coffee-background.jpg');
    background-size: cover;
    font-family: 'Caveat', cursive; /* Рукописный шрифт */
    color: #6f4c3e;
}

body.star-planet {
    background: linear-gradient(to right, #1a1a2e, #16213e);
    color: #e94560;
    font-family: 'Orbitron', sans-serif; /* Футуристический шрифт */
}

body.cat-dog {
    background-color: #f7f7f7;
    color: #333;
    font-family: 'Mochiy Pop P One', sans-serif; /* Милый шрифт */
}

body.fire-water {
    background: linear-gradient(to right, #ff6f61, #6fa3ef);
    color: #fff;
    font-family: 'Poppins', sans-serif;
}

body.sun-moon {
    background: url('sun-moon-background.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #f9d56a;
    font-family: 'Lobster', cursive;
}

body.apple-orange {
    background: radial-gradient(circle, #ffcccb, #ffb3b3);
    color: #ff5733;
    font-family: 'Quicksand', sans-serif;
}

body.robot-human {
    background-color: #20232a;
    color: #61dafb;
    font-family: 'Roboto Mono', monospace;
}

body.dragon-unicorn {
    background: linear-gradient(to right, #ffafbd, #ffc3a0);
    color: #6a0572;
    font-family: 'Dancing Script', cursive;
}

body.bird-fish {
    background: linear-gradient(to right, #00c6ff, #0072ff);
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}

body.book-computer {
    background-color: #f0f0f0;
    color: #333;
    font-family: 'Georgia', serif;
}
